# 4.6 Combining & Exporting Data

## This script contains the following:
### 1. merging dataframes
### 2. exporting merged dataset

In [2]:
#importing libraries
import pandas as pd
import numpy as np
import os

### 1. merging dataframes

In [4]:
#Import the data set into Jupyter as a new dataframe: df_ords_prior

In [41]:
path = r'C:/Users/LocalAdmin/Instacart Basket Analysis'

In [43]:
path

'C:/Users/LocalAdmin/Instacart Basket Analysis'

In [13]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_prior.csv'), index_col = False)

In [14]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
# checking the shape of the dataframe

In [17]:
df_ords_prior.shape

(32434489, 4)

In [12]:
# Merge the dataframe with your df_ords dataframe

In [13]:
## import df_ords

In [19]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [15]:
#shape for df_ords

In [21]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [23]:
df_ords.shape

(3421083, 7)

In [22]:
# merging df_ords_prior and df_ords

In [25]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [27]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [30]:
df_merged_large. shape

(32434489, 11)

In [32]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

### 2. Exporting df_merged_large

In [34]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [36]:
df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))