# 4.6: Combining and Exporting Data

## This script contains the following:
### 1. importing libraries
### 2. importing and merging datasets
### 3. dropping unnecessary columns
### 4. exporting merged data in pickle format

### 1. importing libraries

In [4]:
import pandas as pd
import numpy as num
import os

### 2. importing and merging datasets

In [6]:
#Question 3. import the orders_products_combined dataframe from the pickle file you just saved

In [6]:
path = r'C:/Users/LocalAdmin/Instacart Basket Analysis'

In [8]:
path

'C:/Users/LocalAdmin/Instacart Basket Analysis'

In [10]:
df_orders_products_combined = pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [14]:
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [14]:
#Question 4. Checking the shape of df_orders_products_combined

In [23]:
df_orders_products_combined.shape

(32434489, 10)

In [16]:
#Question 5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

In [22]:
## importing products verified dataset

In [25]:
df_prods_verified = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_verified.csv'), index_col = False)

In [27]:
df_prods_verified.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

### 3. dropping unnecessary columns

In [27]:
#drop 'Unnamed: 0'

In [29]:
df_prods_verified = df_prods_verified.drop (['Unnamed: 0'], axis=1)

In [31]:
df_prods_verified.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [31]:
#checking the shape for df_prods_verified

In [33]:
df_prods_verified.shape

(49693, 5)

In [33]:
#merge df_orders_products_combined and df_prods_verified dataframes

In [35]:
df_ords_prods_combined = df_orders_products_combined.drop(['_merge'], axis =1)

In [37]:
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [39]:
df_ords_prods_combined.shape

(32434489, 9)

In [41]:
df_prods_ords_merge = df_prods_verified.merge(df_ords_prods_combined, on = 'product_id', indicator = True)

In [43]:
df_prods_ords_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [45]:
df_prods_ords_merge.shape

(32434212, 14)

In [49]:
#Question 6. Confirm the results of the merge using the merge flag.

In [47]:
df_prods_ords_merge['_merge'].value_counts()

_merge
both          32434212
left_only            0
right_only           0
Name: count, dtype: int64

In [51]:
#Question 7. Export the newly created dataframe as ords_prods_merge in a suitable format (taking into consideration the size)

### 4. exporting in pkl format

In [49]:
df_prods_ords_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))